<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Back', [@commentable, :comments] %>
<%= link_to 'Delete', [@commentable, @comment], method: :delete %>
